

body{
    margin: 0 auto;
}



nav{
    text-decoration: none;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: hsl(125, 15%, 45%);
    flex-direction: row;
}
.links-right{
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap:40px;
}



.links-right a {
    text-decoration: none;
    color:black
}

.logo-link{
    display:flex;
}



.logo{
    border-radius: 20px;
    max-height: 15vh;
}



header{
    background-image:url(../images/peterselie.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top:100px;
    color:#D0E7D2;
    flex-direction: column;
    align-items: center;
    border-bottom:2px solid black;
    font-size: 2rem; 
    flex-wrap: wrap;
}

header a {
    border:2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color:aquamarine;
    padding: 10px 50px;
   
}
header a:hover{
    background-color: black;
    color:white;

}

.buttons{
    display:flex;
    flex-direction: row;
    gap :20px;
    margin-bottom: 20px;
}

.underline{
    display:flex;
    justify-content: center;
    padding-top:50px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #D0E7D2;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
    margin: 0 auto;
}
 

.basilicum{
    display:flex;
    justify-content: center;
    border:2px solid black;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;  
}


.tijm{
    display:flex;
    justify-content: center;
    border:2px solid black;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

.rozemarijn{
    display:flex;
    justify-content: center;
    border:2px solid black;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.basilicumimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: middle;
    border-radius: 20px;
    max-height:230px;
}

.tijmimg{  
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: middle;
    border-radius: 20px;
    max-height:230px;
}

.rozemarijnimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle;
    border-radius: 20px;
    max-height: 230px;
}

.cards a{
    text-decoration: none;
    color:black;
    padding:20px;
    border:2px solid black;
    border-radius: 20px;
    margin-top: 100px;
    align-items: baseline;
}

.cards a:hover{
    background-color: #B0D9B1;
}

form{
    display:flex;
    gap:30px;
    flex-direction: column;
    margin:0 auto;
    width: 50vw; 
    padding-bottom:50px
}

.voornaam{
    display: flex;
    flex-direction: column;
}
.lastname{
    display: flex;
    flex-direction: column;
}

.textveld{
    display: flex;
    flex-direction: row;
    flex:1;
    gap:20px;
}
.text{
    display: flex;
    flex-direction: column;
    flex:1;
}


input{
    border-radius: 5px;
    padding:10px 50px 10px 10px;
}


.jaennee{
    display:flex;
    flex-direction: row;
    gap:10px;
}
.textstuk{
    display: flex;
    flex-direction: column;
    flex:1;
}


button{
    background-color: green;
    border:2px solid black;
    border-radius:5px ;
}

footer{
    padding-top: 10px;
    background-color: #618264;
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    display: flex;
    flex-direction: column;
}

.socials img{
    max-height: 30px;
}
.linksfooter{
    display:flex;
    gap:20px;
    padding-right:20px;
    padding-top: 50px;
}
.linksfooter a{
    text-decoration: none;
    color: black;
    gap:20px;
}

.linksfooter a:hover{
    text-decoration: underline;
}
.form{
    background-color:#79AC78 ;
}


@media  (max-width : 480px){
    body{
       font-size:1rem;
    }
   
    nav {
        justify-content: center;
        flex-direction: column;
    }

    .logo-link{
       flex-direction: column;
       align-items: center;
    }


    .links-right{
        flex-direction: column;
        
    }

    .cards{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }
    .linksfooter{
        flex-direction: column;
    }

    .textveld{
        flex-direction: column;
    }
}

